@model Genre
@{
    ViewData["Title"] = "Edit";
    int counter = 0;
}

<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h1>Create</h1>
            <form asp-action="edit" method="post">
                <div class="form-group">
                    <label asp-for="Name">FullName</label>
                    <input class="form-control" asp-for="Name" placeholder="Enter fullname">
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>